
*.pper
.Rproj.user/9832CB0C/cpp-definition-cache
.Rproj.user/9832CB0C/rmd-outputs
.Rproj.user/9832CB0C/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
R/.Rhistory
R/.Rhistory
/.Rproj.user
